<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <f:flashMessages/>

    <f:form action="show" method="get" pageUid="{settings.resultPid}">
        <f:render partial="FormFields/Text" section="main"
                  arguments="{
                  field: generalSearchKey,
                  value: generalSearchTerm,
                  labelKey: 'tx_newsfilter_domain_model_searchconfiguration.search_for'
                  }"/>

        <f:comment><!--
        <f:for each="{searchTerms}" key="field" as="value">
            <f:render partial="FormFields/Text" section="main" arguments="{field:field, value:value}"/>
        </f:for>
        --></f:comment>

        <f:render partial="FormFields/Submit" section="main"/>
    </f:form>
</f:section>
</html>